body{

    background: #141415;

}

.bg-dark{

    background: #1E1E1F;

}

.bg-dark-secondary{

    background: #2C3333;

}

.text-primary{

    color: #6C4ED9 !important;

}

.progress-bar{
    background: rgb(108, 78, 217);
    -webkit-animation-name: pulse; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0%   {background: rgb(108, 78, 217);}
    25%   {background: rgb(108, 78, 217);}
    50%   {background: rgb(108, 78, 217);}
    75%  {background: rgb(108, 78, 417);}
    85%{background: rgb(108, 78, 217);}
    100% {background: rgb(108, 78, 217);}
}

@keyframes pulse {
    0%   {background: rgb(108, 78, 217);}
    25%   {background: rgb(108, 78, 217);}
    50%   {background: rgb(108, 78, 217);}
    75%  {background: rgb(108, 78, 417);}
    100% {background: rgb(108, 78, 217);}
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp-animation--15 {
    animation: 1.5s fadeInUp;
}

.fadeInUp-animation--10 {
    animation: 1.0s fadeInUp;
}